<h1>Hello! New Course Enrollment</h1>

<p>{{ 'Student with username: ' ~ student ~ ' has successfully enrolled in the course: ' ~ course }}</p>

<p>{{ 'Date: ' ~ enrollment_date|date("F j, Y - H:i") }}</p>
