<h1>Hello! New Course Enrollments</h1>

<p>{{ 'Student with username: ' ~ student ~ ' has successfully enrolled in the following courses: ' ~ courses|join(', ') }}</p>

<p>{{ 'Date: ' ~ enrollment_date|date("F j, Y - H:i") }}</p>
